@import url(https://fonts.googleapis.com/css?family=Sniglet:regular,400);
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background-color: inherit;
  letter-spacing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
:root{
    --shadow-grey: hsla(0, 0%, 15%, 1);
    --mustard: hsla(45, 99%, 70%, 1);
    --pacific-blue: hsla(188, 100%, 36%, 1);
    --cinnabar: hsla(5, 68%, 55%, 1);
    --lavender: hsla(273, 13%, 87%, 1);
    --light-violet: hsl(271, 76%, 73%);
}
body{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--lavender);
    color: var(--shadow-grey);
    font-family: "Sniglet";
    letter-spacing: 0.1rem;
}

button{
    cursor: pointer;
    transition: all 0.5s;
}

.result-container,
.player1, .player2,
.reset-game, .reset-round,
button:has(label){
    padding: 10px;
    border-radius: 16px;
}

.cell,
.reset-game, .reset-round,
button:has(label){
    border-style: none;
    outline: none;
}

.container{
    padding: 150px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  1fr  3fr 1fr; 
    grid-template-areas: 
    "result result result"
    "player1 board player2";
    gap: 20px;
}

.result-container{
    grid-area: result;

    width: 630px;
    height: 200px;
    
    background-color: var(--mustard);
    text-align: center;
    font-size: 50px;
}

.result{
    height: 100px;
}

.reset-game, .reset-round{
    width: 275px;

    font-size: 40px;
}

.reset-game{
    background-color: hsl(304 27 78)
}

.reset-round{
    background-color: hsl(196, 40%, 67%)
}

.result-container button:hover{
    background-color: hsl(from var(--mustard) h s calc(l + 10));
}

.game-grid{
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 2px;

    background-color: var(--shadow-grey);
}

.cell{

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--lavender);
    font-size: 75px;
}


.player1, .player2{
    width: 380px;
    height: 600px;
    
    display: grid;
    justify-items: center;
    align-content: start;
    gap: 10px;
    
    font-size: 38px;
}

.player1{
    grid-area: player1;
    background-color: var(--cinnabar)
}

.player2{
    grid-area: player2;
    background-color: var(--pacific-blue);
}

hr{
    width: 300px;
    border-color: var(--lavender);
}

.score {
    font-size: 60px;
}

input{
    height: max-content;
    width: 340px;
    
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none; 
}

button:has(label){
    padding:3px 18px;
    background-color: var(--lavender);
}

button:has(label):hover{
    background-color: hsl(from var(--light-violet) h s calc(l + 5));
}

label{
    cursor: pointer;
}

.marker{
    font-size: 100px;
    margin-top: 20px;
}

.markerX{
    color: hsl(from var(--cinnabar) h s calc(l - 20));
}

.markerO{
    color: hsl(from var(--pacific-blue) h s calc(l - 20));
}

.winningX{
    background-color: hsl(from var(--cinnabar) h s calc(l + 20));
}

.winningO{
    background-color: hsl(from var(--pacific-blue) h s calc(l + 40));
}

.focus{
    outline: solid 9px var(--light-violet);
    transition: outline 0.5s;
    position:relative;
}

.focus::after{
    content: "";
    width: 200px;
    height: 6px;

    position: absolute;
    top: 0;

    background-color: var(--light-violet);
    border-radius: 16px;
}